@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sevillana&display=swap');




body {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(-10px); /* Apply a blur effect to the background */
  background-image: url('img/back.jpg'); /* Path to your background image */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set the height of the body to fill the viewport height */
  background-attachment: fixed; /* Fixed background to prevent scrolling */
}


.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
}

.navbar-nav {
  font-family: 'Sevillana', sans-serif;
  font-size: 24px;
}
.icon-container {
  transition: transform 0.1s ease;
}

.icon-container:hover {
 transform: scale(1.5);
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 300;
  font-size: 50px;
  font-style: normal;

}

.box {
  backdrop-filter: blur(20px); /* Apply a blur effect to the background */
  background-color: rgba(0, 0, 0, 0.5); /* Black background color with 50% opacity */
  height: 70vh; /* 70% of viewport height */
  width: 80vw; /* 80% of viewport width */
  border-radius: 10px;
  margin: 100px auto; /* Center the box horizontally and provide top margin */
  padding: 15px; /* Add padding to avoid content sticking to edges */
  position: relative;
  z-index: 1; /* Ensure .box is in the foreground */
}

.box2 {
  background-color: rgba(7, 238, 255, 0.74); /* Fallback background color */
  height: 50vh; /* 70% of viewport height */
  width: 18vw; /* 80% of viewport width */
  border-radius: 10%;
  margin: 100px auto; /* Center the box horizontally and provide top margin */
  padding: 1px; /* Add padding to avoid content sticking to edges */
  position: absolute;
  bottom: 18%;
  left: 80%;
  z-index: 0; /* Lower z-index to appear behind */
}
.box3{
  background-color: rgba(7, 238, 255, 0.74); /* Fallback background color */
  height: 50vh; /* 70% of viewport height */
  width: 18vw; /* 80% of viewport width */
  border-radius: 10%;
  margin: 100px auto; /* Center the box horizontally and provide top margin */
  padding: 1px; /* Add padding to avoid content sticking to edges */
  position: absolute;
  top: 39%;
  right:80%;
  z-index: 0;
}

.image {
  /* Make the image responsive */
  border-radius: 10% ;
  width: 16vw; /* Take full width of parent container */
  height: 40vh; /* Maintain aspect ratio */
  position:absolute; /* Position the image absolutely within its parent */
  top: 45%; /* Align the top edge of the image with the middle of its parent */
  left: 85%; /* Align the left edge of the image with the middle of its parent */
 
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .image {
    width: 30vw; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    top: 50%; /* Adjust top position */
    left: 70%; /* Adjust left position */
  }
  .box2 {
    width: 30vw; /* Adjust width */
    height: 30vh; /* Adjust height */
    top: 50%; /* Adjust top position */
    left: 50%; /* Adjust left position */
  }
}

@media (max-width: 480px) {
  .image {
    width: 40vw; /* Further adjust width */
    height: auto; /* Maintain aspect ratio */
    top: 55%; /* Further adjust top position */
    left: 60%; /* Further adjust left position */
  }
  .box2 {
    width: 40vw; /* Further adjust width */
    height: 32vh; /* Further adjust height */
    top: 35%; /* Further adjust top position */
    left: 70%; /* Further adjust left position */
  }
}




  